

<%= render 'shared/header' %>



<div class="home-top-image">
  <div class="bg-inner">
    <h2>小さなイチを足していこう</h2>
      <p>今日できたイチをみんなにシェアしていこう！！</p>

  </div>
</div>











<%= render 'shared/footer' %>
