// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






// index.html.erb



.home-top-image {
  background-image: url("/images/kids.jpg");
  background-size: cover;
  margin-bottom: 100px;


  h2 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    padding-bottom: 30px;
  }
  p {
    color: #f3f3f3;
    text-align: center;
  }
}

.bg-inner {
  padding-top: 200px;
  padding-bottom: 230px;
  background-color: rgba(0, 0, 0, .6);
}

.ichi-post-title {

  h1 {
    margin-bottom: 30px;

  }

}

.ichi-post-main {
  background-color: #f5f8fa;
  border-bottom: 1px solid #e1e8ed;
  padding: 10px;
  width: 70%;
  margin: 0 auto;

  img {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
  }
}

.index-ichi-user-name {
}
